:root {
  --branding-color: #2d435f;
  --main-color: #E5E0EF;
  --text-color: #663399;

}

.box-container {
  background-color: var(--main-color);

}

.main {
  margin-top: 2%;
}

.header {
  background-color: var(--main-color);
  color: var(--text-color);
}

.title-quiz {
  color: var(--text-color);
}

.text-purple {
  color: var(--branding-color);
}

.main-container {
  /* padding: 20%; */
  background-color: var(--branding-color);
}

/* .question {
  display: flex;
  flex-direction: column;
} */




/* button color */
.button-color {
  background-color: var(--text-color);
  color: white;
}

.button-color:hover {
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

/* 
// Example
// Apply styles starting from medium devices and up to extra large devices */
@media (max-width: 400px) {
  .header {
    display: flex;
    flex-direction: column;
    background-color: aqua;
  }
}